includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - "#Cannot access offset 'handler' on mixed.#"
        - '#Parameter \#1 \$handler of static method GuzzleHttp\\HandlerStack::create\(\) expects \(callable\(Psr\\Http\\Message\\RequestInterface, array\): GuzzleHttp\\Promise\\PromiseInterface\)\|null, mixed given.#'
